PORT=3003

# Angel One API Credentials
ANGEL_CLIENT_ID=AACK152814
ANGEL_API_KEY=E8k1pqzX
ANGEL_PASSWORD=5151
ANGEL_BASE_URL="https://apiconnect.angelone.in"
ADMIN_DASHBOARD_KEY=uvadak

# Optional: Token Configuration
TOKEN_EXPIRY_HOURS=26
MONGODB_URI=mongodb://127.0.0.1:27017/angelOneDashboard
